.form{
    margin: 20px;
    input{
        margin: 10px;
        width: 20%;
        padding: 7px;
        background-color: 	#ffd977;
        border: none;
        border-radius: 20px;
    }::placeholder{
        color:black
    }
    button{
        margin: 5px;
        width: 10%;
        padding: 5px;
        border:1px solid #ffd977;
        color: black;
        border-radius: 20px;
        background-color: white;
    }
    a{
        color: black;
    }
    .forgot{
        margin-left:150px;
    }
}