.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  flex-wrap: wrap;
  div {
    margin: 3px;
    width: 15%;
    height: 290px;
    position: relative;
    margin-left:18px ;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    left: 0;
    object-fit: cover;
  }
  p {
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
  }
}
.filterSearch {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  select {
    margin: 10px;
    width: 10%;
    padding: 7px;
    color: #4c2c2c ;
    background-color: white;
    border: 1px solid #ffd977;
    border-radius: 20px;
  }
  input {
    width: 100%;
    background-color: white;
    border: 1px solid #ffd977;
  }::placeholder{
    color: black ;
  }
}
