.nav{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    margin-top: 25px;
    clear: both;
    li{
        display: inline;
        padding: 15px;
        
    }
    a{
        text-decoration: none;
        color: black;
    }
    
}