.nav{
    display: inline;
    padding: 10px;
    margin: 10px;
    float: right;
    margin: 20px 30px 0px 0px;
    font-size: 1.1rem;
    li{
        display: inline;
        padding: 15px;
    }
    a{
        text-decoration: none;
        color: black !important;
    }
    
}