.form{
    margin: 20px;
    input{
        margin: 10px;
        width: 20%;
        padding: 7px;
        color: #a4330d;
        background-color: 	#e9b08e;
        border: none;
        border-radius: 20px;
        outline: none;
    }
    button{
        margin: 5px;
        width: 10%;
        padding: 5px;
        border:none;
        color: #a4330d;
        border-radius: 20px;
    }  
    
    textarea{
        margin: 10px;
        width: 20%;
        padding: 7px;
        color: #a4330d;
        background-color: 	#e9b08e;
        border: none;
        border-radius: 20px;
        outline: none;
    }
}