.form{
    margin: 20px;
    input{
        margin: 10px;
        width: 20%;
        padding: 7px;
        color: black;
        background-color: 	#ffd977;
        border: none;
        border-radius: 20px;
        outline: none;
    }
    button{
        margin: 5px;
        width: 10%;
        padding: 5px;
        border:1px solid #ffd977;
        color: black;
        border-radius: 20px;
        background-color: white;
    }  
    
    textarea{
        margin: 10px;
        width: 20%;
        padding: 7px;
        color: black;
        background-color: 	#ffd977;
        border: none;
        border-radius: 20px;
        outline: none;
    }
}